/document.docx
/MS4H03.ipynb
/MS4H05_Coursework_23045396.html
/MS4H05_Coursework_23045396.pdf
/MS4H05_Dataset.csv
/MS4H05_Dataset.xlsx
/Newport Road.pdf
/NLP.ipynb
/NRC-Emotion-Lexicon
/NRC-Emotion-Lexicon.zip